/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Typography
# Accessibility
# Clearings
# Elements
# Navigation
# Header
# Body
# Footer
# Forms
# Media
# MEDIA QUERIES SECTION
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
.site-footer  {
  font-size: $font-footer-mobile;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
.site-footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 2px;
  margin: 3px 0 0 0;
  width: 100%;
  align-items: center;
}

.site-footer__copyright {
  margin: 0;
}

.site-footer__version {
  margin: 0;
}
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.site-footer  {
  background-color: $inforlub-dark-background;
  color: $inforlub-light-grey;
}

/*--------------------------------------------------------------
# Body
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# MEDIA QUERIES SECTION
--------------------------------------------------------------*/

@media screen and (min-width: 400px) and (max-width: 600px) {
  .site-footer  {
    font-size: $font-footer-tablet;
  }
}

@media screen and (min-width: 600px) {
  .site-footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    padding: 2px;
    margin: 0;
  }
  .site-footer  {
    font-size: $font-footer-full;
  }
}
