/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Typography
# Accessibility
# Clearings
# Elements
# Navigation
# Header
# Body
# Footer
# Forms
# Media
# MEDIA QUERIES SECTION
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
.wrapper {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}
.wrapper__content {
  flex: 1 0 auto;
  display: flex;
  flex-flow: column nowrap;
  /* display: grid;
  grid-gap: 3px;
  grid-template-columns: 100%;
  grid-template-rows: 10% 20% auto;
  grid-template-areas: "header"
                       "sidebar"
                       "content"; */
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.site-header {
  /* grid-area: header; */
}
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
.site-navigation {
  /* flex: 1 0 auto; */
}

.site-navigation-on {
  /* grid-area: sidebar; */
}
.site-navigation-off {
  /* grid-area: none; */
}
/*--------------------------------------------------------------
# Body
--------------------------------------------------------------*/
.main-content {
  /* flex: 1 0 auto; */
  /* grid-area: content; */
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
}
/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# MEDIA QUERIES SECTION
--------------------------------------------------------------*/

@media screen and (min-width: 400px) and (max-width: 600px) {

}

@media screen and (min-width: 600px  ) {
  .wrapper {
    display: flex;
    flex-flow: column nowrap;
  }

  .wrapper__content {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row nowrap;

    /* display: grid;
    grid-gap: 3px;
    grid-template-columns: 15% 85%;
    grid-template-rows: 10% 90%;
    grid-template-areas: "header header"
                         "sidebar content"; */
  }
  .site-navigation {
    /* flex: 1 1 100%; */
    /* height: 100vh; */
  }
  .site-header {
  }
  .main-content {
    /* flex: 1 1 100%; */
  }
}
