/*--------------------------------------------------------------
# Color Variables styles
--------------------------------------------------------------*/
$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

// MAIN COLOURS
$inforlub-yellow: #ffd92b;
$inforlub-light-grey: #ededed;
$inforlub-dark-grey: #444444;
$inforlub-dark-background: #202020;
$inforlub-white: #fff;
